h1= title

h2 Description
blockquote
  p Wouldn't it be cool to process a lot of data using your fancy ass phone? Those extra 4 cores in your tablet not yet burning a hole in your pocket from the heat? Hate having a lot of battery life? If you answered yes to any of these questions... then we have a solution for you. It's time to use all that extra processing power in everything you own to do stuff!

h2 Why is this awesome?
blockquote
  ul
    li It adds the necessary style to your brand new jeans by burning holes in them.
    li Because I can use your spare computing power for nefarious processing jobs.

h2 Why did we create this?
blockquote
  ul
    li To get laid.