script(type='text/javascript', src='/js/controller.js')
h1= title
h2 Input Data for Wordcount:
textarea#inputdata.span12
div
  a#button.btn.btn-success(href='#') DO STUFF
div#results
  img(src='https://chart.googleapis.com/chart?cht=qr&chs=500x500&chl=http%3A%2F%2Fnode-reduce.herokuapp.com%2Fclient')