doctype 5
html(lang="en")
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/jquery-1.7.1.min.js')
    script(type='text/javascript', src='/js/bootstrap.js')
  body
    header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          a(href='/').brand NodeReduce
          a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .nav-collapse
            ul.nav
              li
                a(href='/client', target='_blank') Client
              li
                a(href='/about') About
    section#main
      .container!=body